  <mat-toolbar color="accent">
    <a 
    routerLink=""
    mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu_book</mat-icon>
    </a>
    <span>My App</span>
    <span class="example-spacer"></span>
    <a 
    [routerLink]="'/login'"
     mat-icon-button class="example-icon favorite-icon ml20 mr20" aria-label="Example icon-button with heart icon">
      SignIn
    </a
    >
    <a
    routerLink="/signup"
     mat-icon-button class="example-icon favorite-icon ml20 mr30" aria-label="Example icon-button with heart icon">
        SignUp
      </a
      >
   
  </mat-toolbar> 