<!-- <div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class="col-md-6 offset-md-3 text-centre" >
                <img  class="img" src="../../../assets/img.jpg" alt="">
                <h1> WELCOME</h1>
            </div>
        </div>

    

    </div>
</div> -->
<div class="container">
    <img src="../../../assets/img.jpg" alt="Snow" style="width:100%;">
    <!-- <div class="bottom-left">Bottom Left</div>
    <div class="top-left">Top Left</div>
    <div class="top-right">Top Right</div>
    <div class="bottom-right">Bottom Right</div> -->
    <!-- <div class="centered">
        <h1>WELCOME</h1>
    </div> -->
    <a 
    routerLink="/signup"
    mat-raised-button color="primary">Get Started</a>
  </div>